<%- include('../partials/header') %>
  <p><%= message %></p>
  <ul>
    <li><a href="/calc/sum?num1=1&num2=2">Sum 1 + 2</a></li>
    <li><a href="/calc/even/1">Even</a></li>
  </ul>
<%- include('../partials/footer') %>
